* {
    font-family: 'Comfortaa', cursive;
    font-family: 'Quicksand', sans-serif;
}

header {

    color: whitesmoke;
    background-color: black;
}


.main {
    display: flex;
    justify-content: center;
    

}



#searchSection {

    padding: 4px; 
    margin-top: 15px;
    display: flex;
    flex-direction: column; 
    background-color: #855e34;
    border-radius: 10%;
    height: 80vh

}

#searchBtn {
    background-color: rgb(98, 18, 23, .5);
    color: white;
}


#landingPage {

    display: flex;

}

#leftSide {

    height: 80vh;
    display: flex;
    flex-direction: column;
   
    border: solid black;

    

}

#theMiddle {

    height: 50vh;
    display: flex;
    border: solid black;
    flex-direction: column;

}
    

    



#fiveDayForecast {

    display: flex; 

}

#currentWeather {

    background-color: #9e7f5d;
    border-radius: 5px;
}

#fiveDayForecast .card {

    height: 15rem;
    background-color:#855e34 ; 
    margin: 3px;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 8%;

}

.forecast {

    background-color: black;
    color: white;
}

.forecast .card-body {

    opacity: 0%
}

.forecast .card-body p {

    opacity: 100%;
}


