* {
    font-family: 'Comfortaa', cursive;
    font-family: 'Quicksand', sans-serif;
}

header {

    color: whitesmoke;
    background-color: black;
}


.main {
    display: flex;
    justify-content: center;
    

}

.searchSectionection {


background-color: #a8a499;
border-radius: 5px;
   
    
}

#searchSection h4 {

    padding: 4px; 

}

#searchBtn {
    background-color: rgb(98, 18, 23, .5);
    color: white;
}

.landingPage {

    margin-top: 15px;
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: #855e34;
    border-radius: 30px;
    

    
}


#fiveDayForecast {

    display: flex; 

}

#currentWeather {

    background-color: #9e7f5d;
    border-radius: 5px;
}

#fiveDayForecast .card {

    height: 15rem;
    background-color:#855e34 ; 
    margin: 3px;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 8%;

}

.forecast img {

    height: 50px;
    width: 50px;
}


.card p {

    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%
}